.background-slider1 {
    background-image: url('/static/img/num1.jpg');
}
.background-slider2 {
    background-image: url('/static/img/num2.jpg');
}
.background-slider3 {
    background-image: url('/static/img/num1.jpg');
}