<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>그린프렌즈 - 실시간 온도 측정</title>
		
		<!-- Favicon -->
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>		
		<style>
			*  {
				font-family: "Noto Sans KR", "Poppins" ,serif;
				font-optical-sizing: auto;
				font-weight: 400;
				font-style: normal;
			}
		</style>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.css') }}"> 
		<!-- Slicknav -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<!-- Get Pro Button 
		<ul class="pro-features">
			<a class="get-pro" href="#">Get Pro</a>
			<li class="big-title">Pro Version Available on Themeforest</li>
			<li class="title">Pro Version Features</li>
			<li>2+ premade home pages</li>
			<li>20+ html pages</li>
			<li>Color Plate With 12+ Colors</li>
			<li>Sticky Header / Sticky Filters</li>
			<li>Working Contact Form With Google Map</li>
			<div class="button">
				<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Pro Version Demo</a>
				<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Buy Pro Version</a>
			</div>
		</ul>-->

		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-7 col-12" style="margin-left: auto;">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="/">홈</a></li>
											<li class="active"><a href="#">실시간 온도.습도 측정</a></li>
											<li><a href="/camera">실시간 카메라 확인</a></li>
											<li><a href="https://smartform.pages.dev">AI 채팅 바로가기</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<!--<div class="get-quote">
									<a href="appointment.html" class="btn">LogIn</a>
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>실시간 온도.습도 측정</h2>
							<ul class="bread-list">
								<li><a href="/">홈</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">실시간 온도.습도 측정</li>
								<li><a href="https://smartform.pages.dev">AI 채팅 바로가기</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
	
		<!-- Start Portfolio Details Area -->
		<section class="pf-details section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="inner-content">
							<div class="image-slider">
								<!--<div class="pf-details-slider">
									<img src="{{ url_for('static', filename='img/call-bg.jpg') }}" alt="#">
									<img src="{{ url_for('static', filename='img/call-bg.jpg') }}" alt="#">
									<div id="lineChart" style="width: 1110px; height: 500px"></div>
								</div>-->
								<div id="lineChart" style="height: 500px"></div>
							</div>
							<div class="date">
								<ul>
									<!--<li><span>현재 시각 :</span> </li>-->
									<li><span>현재 온도 :</span> {{oneTempData}}</li>
									<li><span>현재 습도 :</span> {{oneHumiData}}</li>
								</ul>
							</div>
							<div class="body-text">
								<h3>현재 상태는 다음과 같습니다.</h3>
								<p>현재 식물의 온도는 {{oneTempData}}℃이며, 습도는 {{oneHumiData}}% 입니다.</p>
								<div class="share">
									<h4>Share Now -</h4>
									<ul>
										<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio Details Area -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<p>실시간으로 카메라를 통해 식물 상태를 확인하고 온도와 습도 센서를 통하여 현재 온도와 습도를 확인할 수 있습니다.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-google-plus"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="/"><i class="fa fa-caret-right" aria-hidden="true"></i>홈페이지</a></li>
											<li><a href="/grap"><i class="fa fa-caret-right" aria-hidden="true"></i>온도습도 확인</a></li>
											<li><a href="/camera"><i class="fa fa-caret-right" aria-hidden="true"></i>카메라 확인</a></li>
										</ul>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Open Hours</h2>
								<p>현재 이메일 및 전화를 받을 수 있는 시간은 다음과 같습니다: </p>
								<ul class="time-sidual">
									<li class="day">Monday - Friday <span>8.00-20.00</span></li>
									<li class="day">Saturday <span>9.00-18.30</span></li>
									<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>문의 사항 및 건의 사항은 이메일을 통해 연락하여 주십시오</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2018  |  All Rights Reserved by <a href="https://www.wpthemesgrid.com" target="_blank">wpthemesgrid.com</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<!-- jquery Migrate JS -->
		<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}"></script>
		<!-- jquery Ui JS -->
		<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
		<!-- Easing JS -->
        <script src="{{ url_for('static', filename='js/easing.js') }}"></script>
		<!-- Color JS -->
		<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
		<!-- Popper JS -->
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
		<!-- Jquery Nav JS -->
        <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
		<!-- Slicknav JS -->
		<script src="{{ url_for('static', filename='js/slicknav.min.js') }}"></script>
		<!-- ScrollUp JS -->
        <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
		<!-- Niceselect JS -->
		<script src="{{ url_for('static', filename='js/niceselect.js') }}"></script>
		<!-- Tilt Jquery JS -->
		<script src="{{ url_for('static', filename='js/tilt.jquery.min.js') }}"></script>
		<!-- Owl Carousel JS -->
        <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
		<!-- counterup JS -->
		<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
		<!-- Steller JS -->
		<script src="{{ url_for('static', filename='js/steller.js') }}"></script>
		<!-- Wow JS -->
		<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
		<!-- Magnific Popup JS -->
		<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!--차트 만들기-->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);
	
			function drawChart() {
				var data = new google.visualization.DataTable();
				data.addColumn('datetime', '날짜');
				data.addColumn('number', '온도');
				data.addColumn('number', '습도');
	
				// Flask에서 전달받은 데이터를 차트 데이터로 변환
				var chartData = {{ chartData|tojson|safe }};
				var formattedData = chartData.map(function(row) {
					return [new Date(row[0]), row[1], row[2]];
				});
	
				data.addRows(formattedData);
	
				var options = {
					title: '온도 및 습도 그래프',
					width: '100%',
					height: 500,
					hAxis: {
						title: '시간',
						format: 'HH:mm',
						gridlines: {count: 10}
					},
					vAxes: {
						0: {
							title: '온도 (°C)',
							textStyle: {color: '#DC3912'},
							gridlines: {color: '#ccc'}
						},
						1: {
							title: '습도 (%)',
							textStyle: {color: '#3366CC'},
							gridlines: {color: 'transparent'}
						}
					},
					series: {
						0: {
							targetAxisIndex: 0,
							color: '#DC3912',
							lineWidth: 2,
							pointSize: 5,
							pointShape: 'circle',
							// 점 위에 마우스를 올렸을 때의 크기
							pointsVisible: true,
							pointShape: {
								type: 'circle',
								rotation: 180
							}
						},
						1: {
							targetAxisIndex: 1,
							color: '#3366CC',
							lineWidth: 2,
							pointSize: 5,
							pointShape: 'circle',
							pointsVisible: true,
							pointShape: {
								type: 'circle',
								rotation: 180
							}
						}
					},
					legend: {position: 'bottom'},
				   
					// 애니메이션 효과
					animation: {
						duration: 1000,
						easing: 'out',
						startup: true
					}
				};
	
				var chart = new google.visualization.LineChart(document.getElementById('lineChart'));
	
				// 차트가 그려질 때 데이터 포인트 클릭 이벤트 추가
				google.visualization.events.addListener(chart, 'ready', function () {
					// 데이터 포인트에 호버 효과 추가
					Array.from(document.getElementsByTagName('circle')).forEach(function(circle) {
						circle.addEventListener('mouseover', function() {
							this.style.cursor = 'pointer';
						});
					});
				});
	
				chart.draw(data, options);
			}
	
			// 15초마다 페이지 새로고침
			setInterval(function() {
				location.reload();
			}, 15000);
		</script>
		
		
		<!-- Bootstrap JS -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<!-- Main JS -->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>